* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-color: #073642;
  --main-color: #b5c1c4;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bg-color); */
  background-image: linear-gradient(150deg, var(--bg-color), #2f9997);
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: min(10vw, 14vh);
  text-align: center;
  text-shadow: 0 0 3px black;
}

.main-counter {
  font-size: 25vh;
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--main-color);
  border-radius: 20px;
  padding: 0px 20px;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.main-counter:hover {
  transform: scale(1.1);
}

.main-counter:active {
  transform: scale(1.05);
  transition: all 0.2s;
}

h2 {
  font-size: min(8vw, 12vh);
  text-align: center;
  text-shadow: 0 0 2px black;
}

.click-button {
  font-size: 6vh;
  color: var(--main-color);
  text-shadow: 0 0 1px black;
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px solid var(--main-color);
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s, transition 0.2s;
}

.click-button:hover {
  background-color: var(--main-color);
  color: rgba(0, 0, 0, 1);
  mix-blend-mode: screen;
  transition: all 0.2s;
}

.click-button:active {
  transform: scale(0.95);
}

.mini-counter {
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-color);
  border: none;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 5px black;
  transition: transform 0.2s;
  cursor: pointer;
}

.mini-counter:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}
